*.pyc
*.class
*.log
resources/log
resources/dependencies
resources/BETA_getAnimeTorrents.py
resources/basePicture.png
resources/keptForRef/tagFile.txt
resources/keptForRef/zGetNewMusic.py
resources/testDir/BETA_getAnimeTorrents.py
resources/testDir/betaTorForCurrWeek.py
resources/testDir/downloadedAnimeTorrents.txt
resources/testDir/tagFile.txt
resources/prevDir.txt
resources/vlcTitleFile.txt