*.pyc
*.class
resources/dependencies
resources/BETA_getAnimeTorrents.py
resources/animedir.txt
resources/basePicture.png
resources/deletedTagFiles.txt
resources/downloadedAnimeTorrents.txt
resources/getAnimeTorrents.py
resources/keptForRef/tagFile.txt
resources/keptForRef/zGetNewMusic.py
resources/playback.txt
resources/removedFilesLog.txt
resources/tagFile.txt
resources/testDir/BETA_getAnimeTorrents.py
resources/testDir/betaTorForCurrWeek.py
resources/testDir/downloadedAnimeTorrents.txt
resources/testDir/tagFile.txt
resources/toDoListFile.txt
resources/unitTests/prandomSongsLog.txt
resources/prevDir.txt
resources/vlcTitleFile.txt